body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* A light background for contrast */
}

#image-container {
    position: relative;
    width: 80%; /* Adjust as needed */
    max-width: 1200px; /* Optional: limit max size */
    perspective: 1000px; /* Add perspective for 3D effect */
}

#image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.hover-zone {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#blueprints {
    width: 19%;
    height: 7%;
    bottom: 13%;
    left: 40.5%;
}

#i_liked_blue_after_you {
    width: 34%;
    height: 7%;
    bottom: 23%;
    left: 17%;
}

#seeing_sound {
    width: 23%;
    height: 7%;
    bottom: 23%;
    right: 20%;
}

#roots {
    width: 17%;
    height: 7%;
    bottom: 34%;
    left: 8%;
}

#to_hold {
    width: 17%;
    height: 7%;
    bottom: 34%;
    right: 10%;
}

#image-container.zoomed img[alt="background"] {
    transform: scale(5);
    transition: transform 2s ease-in-out;
}


#meaple {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; /* Adjust size as needed */
    display: none; /* Hidden by default */
    transition: transform 2s ease-in-out;
}

#image-container.zoomed #meaple {
    transform: translate(-50%, -50%);
}

#meaple.rotate {
    display: block;
    animation: spin 2s linear;
}

#meaple.spin-and-move {
    display: block;
    animation: spin 2s linear, move-meaple 2s linear;
    animation-fill-mode: forwards; /* Keeps the meaple at the final position */
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(720deg);
    }
}

@keyframes move-meaple {
    from {
        top: 50%;
        left: 50%;
    }
    to {
        top: 46%;
        left: 67%;
    }
}

#arrow-right {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid black;
    cursor: pointer;
    display: none; /* Hidden by default */
}

.rotate-x-animation {
    animation: rotate-x 0.8s linear;
}

@keyframes rotate-x {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}
